.Logo {
    height: 10%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 1000;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}